%container {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
}

%main-color-font {
  color: rgb(255, 255, 255);
}

.registrationHeader {
  @extend %container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 38px;
}

.registrationHeader a > img {
  width: 145px;
}

.loginBtn {
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(62, 169, 245);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.mainRegistarationForm {
  @extend %container, %main-color-font;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textWrapper {
  max-width: 500px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.textWrapper h2 {
  font-size: 40px;
  font-weight: 600;
}

.textWrapper p {
  padding: 0 40px;
}
